.landingpage {
    margin: 40px 200px;
    display: flex;
}
.landingpage_left {
    flex: 45%;
    padding-top: 10%;
    height: 60vh;
}
.landingpage_right {
    flex: 55%;
    background-color: whitesmoke;
}
.landingpage_title {
    font-size: 25px;
    font-weight: 700;
}
.landingpage_subtitle {
    padding-top: 35px;
    font-size: 20px;
    font-weight: 500;
}
.landingpage_button {
    width: 170px;
    margin-top: 25px;
    background-color: #318CE7;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}
.landingpage_button:hover {
    font-size: 18px;
}
.landingpage_right {
    text-align: center;
    padding-top: 20%;
}
.landingpage_right > p {
    font-size: 30px;
}