.feeds {
    padding: 15px 0;
    background-color: white;
    cursor: pointer;
}
.feeds_title {
    font-weight: 600;
    text-decoration: none;
}
.feeds_keyword {
    margin-top: 30px;
    text-decoration: none;
}
.text-decoration {
    text-decoration: none;
    color: black;
}