.feeds {
    padding: 15px 0;
    background-color: white;
    cursor: pointer;
}
.feeds_title {
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 30px;
    color: #012169;
}
.feeds_keyword {
    text-decoration: none;
    /* color: #318CE7; */
}
.text-decorationn {
    text-decoration: none;
    color: black;
}
.hr_feed {
    border: 1px solid lightgray;
    margin-top: 10px;
}
.keyword_bookmark {
    display: flex;
    align-items: center;
}
.bookmark {
    margin-left: auto;
}
#bookmark_color.active {
    color: blue;
}
