.leftmenubar {
    display: flex;
    height: 70vh;
    position: fixed;
    margin-top: 40px;
}
.leftmenubar_left {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.leftmenubar_left_name {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.leftmenubar_left_name > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.leftmenubar_left_name > p {
    margin-top: 15px;
    font-size: 18px;
}
.leftmenubar_left_options {
    margin-top: 5px;
}
.options_ {
    display: flex;
    margin: 15px 0;
    cursor: pointer;
    align-items: center;
}
.text-decoration {
    text-decoration: none;
}
.option_p {
    margin-left: 10px;
    color: black;
}
.option_pf {
    color: black;
}
.foo {
    margin-top: 580px;
    position: fixed;
}

#popuppp {
    position: fixed;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 710px;
    height: 440px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    /* background-color: #ACE1AF; */
    background-color: white;
    visibility: hidden;  
    opacity: 0;
    transition: 0.5s;
    padding: 10px;
}
#popuppp.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}
#blur.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}
.cross_mainn {
    text-align: right;
    font-size: 35px;
}
.crosss {
    cursor: pointer;
}
.welcome_mainn {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcomee {
    font-size: 32px;
}
.login_google {
    margin-top: 50px;
}
.options_feed {
    display: flex;
    margin: 5px 0;
    cursor: pointer;
}