.meme {
    width: 180px;
    margin-left: 925px;
    margin-top: 40px;
    position: fixed;
}
.meme > p {
    font-size: 20px;
    font-weight: 600 !important;
    margin-bottom: 40px;
}
.meme > img {
    width: 225px;
    border-radius: 20px;
}