.addedkeywords {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
    margin: 20px 10px;
    border: 2px solid lightgrey;
}
.addedkeywords > p {
    padding: 0 10px;
}
.close {
    cursor: pointer;
    padding-right: 10px;
}