.addkeywordspage_main {
    display: flex;
    margin-left: 0px;
    width: 700px;
    height: 400px;
    margin-top: 0px;
}
.addkeywordspage {
    width: 600px;
    overflow-y: scroll;
    padding-right: 20px;
    margin-left: 20px;
    box-shadow: 10px 10px whitesmoke;
}
.addkeywordspage_keywords {
    font-size: 20px;
    font-weight: 600 !important;
}
.over {
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.addkeywordspage_feed {
    margin-top: 30px;
}
.addkeywordspage_textfield {
    margin-top: 30px;
}
.addkeywordspage_flex {
    display: flex;
    align-items: center;
}
.addkeywordspage_button1 > button {
    margin-top: 30px;
    margin-left: 20px;
    background-color: #4285F4;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 7px 10px;
    cursor: pointer;
}
.addkeywordspage_button1 > button:hover {
    font-size: 19px;
    background-color: #318CE7;
}
.addkeywordspage_button2 { 
    display: flex;
    margin-top: 100px;
    justify-content: flex-end;
    text-decoration: none;
}
.addkeywordspage_button2 > button {
    width: 170px;
    margin-top: 25px;
    background-color: #318CE7;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    color: white;
    border: none;
    text-decoration: none;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
}
.addkeywordspage_button > button:hover {
    font-size: 18px;
    margin-left: 20px;
}
.add_feed_button {
    display: flex;
    align-items: center;
}
.add_feed_button > button {
    margin-top: 30px;
    margin-left: 20px;
    background-color: #318CE7;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    border: none;
    text-decoration: none;
    width: 100px;
    padding: 7px 10px;
    cursor: pointer;
}
.add_feed_button_button > button:hover {
    font-size: 18px;
    margin-left: 20px;
    padding: 9px 12px;
}