.contentpage {
    margin-left: 250px;
    padding-right: 15px;
    width: 700px;
    /* height: 70vh;
    overflow: scroll; */
    margin-top: 40px;
}
.contentpage_title > p {
    font-weight: 600;
    font-size: 23px;
}
.contentpage_abstract > p {
    margin-top: 20px;
    font-size: 22px;
}
.contentpage_content > p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
}
.contentpage_getit > p {
    /* color: #318CE7; */
    color: green;
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
} 